#details-scroll {
  position: relative;
}

#details-img {
  width: 100%;
  height: 60vh;
  background-color: #ee2e24;
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#details-img::-webkit-scrollbar {
  display: none;
}

#details-img img {
  height: inherit;
}

#arrow-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: space-between;
  align-items: center;
}

#arrow-container i {
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}